# Entornos virtuales
venv/
.venv/
env/

# Caché de Python
__pycache__/
*.pyc
*.pyo

# Pruebas
.pytest_cache/
.coverage
htmlcov/

# Editores / IDEs
.vscode/
.idea/
*.swp

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos generados o temporales
*.log
*.tmp
output/
